<h1>Messages</h1>
<% for(let i = 0; i < messages.length; i++) { %>
  <div class="message">
    <h4><%= messages[i].title %></h4>
    <div><%= messages[i].message %></div>
    <% if(isClub) {%>
      <div><%= messages[i].username %></div>
      <div><%= messages[i].time %></div>
    <% } %>
    <% if(admin) {%>
      <form action="/message/delete" method="POST">
        <input type="hidden" name="title" value="<%= messages[i].title %>">
        <input type="hidden" name="message" value="<%= messages[i].message %>">
        <button type="submit">delete</button>
      </form>
    <% } %>
  </div>
<% } %>